@model Portfolio_Management.Models.StaffDashboardViewModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container">
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog" style="width:800px;">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">@Html.DisplayFor(model => model.SelectedStaffData.Staff.First_Name)'s Skills</h4>
                    </div>
                    <div class="modal-body">

                        <div class="form-horizontal">

                            <div class="form-group">
                                <div class="col-md-10">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" style="width:100%;">
                                        <thead>
                                            <tr>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.SelectedStaffData.StaffSkills[0].Ref_Skill.Skill)
                                                </th>
                                                @foreach (var prof_item in Model.AllSkillsData.Proficiencies)
                                                {
                                                    <th style="padding:0px 4px 0px 0px; text-align:center;">
                                                        @Html.DisplayFor(m => prof_item.Proficiency)
                                                    </th>
                                                }
                                            </tr>
                                        </thead>
                                        <tbody id="modal-skill-table-body">
                                            @* Store IDs of each skill the staff member already has so that they are not repeated *@
                                            @{ List<int> staffSkillIDs = new List<int>(); }
                                            @foreach (var staffskill in Model.SelectedStaffData.StaffSkills)
                                            {
                                                staffSkillIDs.Add(staffskill.Skill_ID);
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => staffskill.Ref_Skill.Skill)
                                                    </td>
                                                    @foreach (var prof_item in Model.AllSkillsData.Proficiencies)
                                                    {
                                                        <td style="padding:0px 4px 0px 0px; text-align:center;">
                                                            @{ if (staffskill.Proficiency_ID == prof_item.Proficiency_ID)
                                                                {
                                                                    @Html.RadioButton("skill" + staffskill.Skill_ID, prof_item.Proficiency, new { @checked = true })
                                                                }
                                                                else
                                                                {
                                                                    @Html.RadioButton("skill" + staffskill.Skill_ID, prof_item.Proficiency)
                                                                }
                                                            }
                                                        </td>
                                                                }
                                                </tr>
                                                                }
                                            @foreach (var skill in Model.AllSkillsData.Skills)
                                            {
                                                if (!staffSkillIDs.Contains(skill.ID))
                                                {
                                                    <tr>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => skill.Skill)
                                                        </td>
                                                        @*@Html.DisplayFor(modelItem => item.Proficiency)*@
                                                        @foreach (var prof_item in Model.AllSkillsData.Proficiencies)
                                                        {
                                                            <td style="padding:0px 4px 0px 0px; text-align:center;">
                                                                @Html.RadioButton("skill" + skill.ID, prof_item.Proficiency)
                                                            </td>
                                                        }
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    @*<input type="submit" value="Submit" class="btn btn-default" />*@
                                    <input type="submit" value="Submit" class="btn btn-default" formaction=@Url.Action("SkillModalSubmit", "Staff_Skill") formmethod="post" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}