@model Portfolio_Management.Models.StaffDashboardViewModel

<div class="container">
    <div class="x_content">
        <div>
            <h4>Staff</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.SelectedStaffData.Staff.Person_Key)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SelectedStaffData.Staff.Person_Key)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SelectedStaffData.Staff.Staff_Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SelectedStaffData.Staff.Staff_Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SelectedStaffData.Staff.Middle_Initial)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SelectedStaffData.Staff.Middle_Initial)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SelectedStaffData.Staff.Alias)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SelectedStaffData.Staff.Alias)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SelectedStaffData.Staff.Location)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SelectedStaffData.Staff.Location)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SelectedStaffData.Staff.Cell_Phone)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SelectedStaffData.Staff.Cell_Phone)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SelectedStaffData.Staff.Personal_Cell_Phone)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SelectedStaffData.Staff.Personal_Cell_Phone)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SelectedStaffData.Staff.Desk_Phone)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SelectedStaffData.Staff.Desk_Phone)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SelectedStaffData.Staff.Company_Email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SelectedStaffData.Staff.Company_Email)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SelectedStaffData.Staff.IsForeign_National)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SelectedStaffData.Staff.IsForeign_National)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SelectedStaffData.Staff.IsBillable)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SelectedStaffData.Staff.IsBillable)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SelectedStaffData.Staff.Years_of_Experience)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SelectedStaffData.Staff.Years_of_Experience)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SelectedStaffData.Staff.Hire_Date)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SelectedStaffData.Staff.Hire_Date)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SelectedStaffData.Staff.Exit_Date)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SelectedStaffData.Staff.Exit_Date)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SelectedStaffData.Staff.Exit_Note)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SelectedStaffData.Staff.Exit_Note)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SelectedStaffData.Staff.Is_Eligible_for_Rehire)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SelectedStaffData.Staff.Is_Eligible_for_Rehire)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SelectedStaffData.Staff.Created_On)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SelectedStaffData.Staff.Created_On)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SelectedStaffData.Staff.Created_By)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SelectedStaffData.Staff.Created_By)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SelectedStaffData.Staff.Modified_On)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SelectedStaffData.Staff.Modified_On)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SelectedStaffData.Staff.Modified_By)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SelectedStaffData.Staff.Modified_By)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SelectedStaffData.Staff.Adm_Exit_Reason.Exit_Reason)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SelectedStaffData.Staff.Adm_Exit_Reason.Exit_Reason)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SelectedStaffData.Staff.Ref_Company.Company)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SelectedStaffData.Staff.Ref_Company.Company)
                </dd>

            </dl>
        </div>
    </div>