@model Portfolio_Management.Models.StaffDashboardViewModel

<div class="container">
    <div class="x_content">
        <div style="overflow-x:auto">
            <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" style="width:100%">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.SelectedStaffData.Staff.Person_Key)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SelectedStaffData.Staff.Staff_Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SelectedStaffData.Staff.Middle_Initial)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SelectedStaffData.Staff.Alias)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SelectedStaffData.Staff.Ref_Company.Company)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SelectedStaffData.Staff.Location)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SelectedStaffData.Staff.Cell_Phone)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SelectedStaffData.Staff.Personal_Cell_Phone)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SelectedStaffData.Staff.Desk_Phone)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SelectedStaffData.Staff.Company_Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SelectedStaffData.Staff.IsForeign_National)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SelectedStaffData.Staff.IsBillable)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SelectedStaffData.Staff.Years_of_Experience)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SelectedStaffData.Staff.Hire_Date)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SelectedStaffData.Staff.Exit_Date)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SelectedStaffData.Staff.Exit_Note)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SelectedStaffData.Staff.Is_Eligible_for_Rehire)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SelectedStaffData.Staff.Created_On)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SelectedStaffData.Staff.Created_By)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SelectedStaffData.Staff.Modified_On)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SelectedStaffData.Staff.Modified_By)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayFor(model => model.SelectedStaffData.Staff.Person_Key)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.SelectedStaffData.Staff.Staff_Name)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.SelectedStaffData.Staff.Middle_Initial)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.SelectedStaffData.Staff.Alias)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.SelectedStaffData.Staff.Ref_Company.Company)
                        </td>
                        <th>
                            @Html.DisplayFor(model => model.SelectedStaffData.Staff.Location)
                        </th>
                        <th>
                            @Html.DisplayFor(model => model.SelectedStaffData.Staff.Cell_Phone)
                        </th>
                        <th>
                            @Html.DisplayFor(model => model.SelectedStaffData.Staff.Personal_Cell_Phone)
                        </th>
                        <th>
                            @Html.DisplayFor(model => model.SelectedStaffData.Staff.Desk_Phone)
                        </th>
                        <th>
                            @Html.DisplayFor(model => model.SelectedStaffData.Staff.Company_Email)
                        </th>
                        <th>
                            @Html.DisplayFor(model => model.SelectedStaffData.Staff.IsForeign_National)
                        </th>
                        <th>
                            @Html.DisplayFor(model => model.SelectedStaffData.Staff.IsBillable)
                        </th>
                        <th>
                            @Html.DisplayFor(model => model.SelectedStaffData.Staff.Years_of_Experience)
                        </th>
                        <th>
                            @Html.DisplayFor(model => model.SelectedStaffData.Staff.Hire_Date)
                        </th>
                        <th>
                            @Html.DisplayFor(model => model.SelectedStaffData.Staff.Exit_Date)
                        </th>
                        <th>
                            @Html.DisplayFor(model => model.SelectedStaffData.Staff.Exit_Note)
                        </th>
                        <th>
                            @Html.DisplayFor(model => model.SelectedStaffData.Staff.Is_Eligible_for_Rehire)
                        </th>
                        <th>
                            @Html.DisplayFor(model => model.SelectedStaffData.Staff.Created_On)
                        </th>
                        <th>
                            @Html.DisplayFor(model => model.SelectedStaffData.Staff.Created_By)
                        </th>
                        <th>
                            @Html.DisplayFor(model => model.SelectedStaffData.Staff.Modified_On)
                        </th>
                        <th>
                            @Html.DisplayFor(model => model.SelectedStaffData.Staff.Modified_By)
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>