
@model Portfolio_Management.Models.StaffDashboardViewModel

<!-- page content -->

@if (Model.SelectedStaffData.Staff != null)
{
    <div class="col-md-6 col-sm-10 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>
                    @Html.DisplayFor(model => model.SelectedStaffData.Staff.First_Name)'s Positions
                </h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a href="/Staff_Position/Create" role="button" aria-expanded="false"><i class="fa fa-plus-square"></i></a>
                    </li>
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div style="overflow-x:auto">
                    <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.SelectedStaffData.StaffPositions[0].IsActive)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SelectedStaffData.StaffPositions[0].Planned_Start_Date)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SelectedStaffData.StaffPositions[0].Active_Start_Date)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SelectedStaffData.StaffPositions[0].Active_End_Date)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SelectedStaffData.StaffPositions[0].Is_Resume_Compliant)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SelectedStaffData.StaffPositions[0].Is_LCAT_Compliant)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SelectedStaffData.StaffPositions[0].Compliance_Notes)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SelectedStaffData.StaffPositions[0].Email_Address)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SelectedStaffData.StaffPositions[0].Desk_Phone)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SelectedStaffData.StaffPositions[0].Cell_Phone)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SelectedStaffData.StaffPositions[0].Created_On)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SelectedStaffData.StaffPositions[0].Created_By)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SelectedStaffData.StaffPositions[0].Modified_On)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SelectedStaffData.StaffPositions[0].Modified_By)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SelectedStaffData.StaffPositions[0].Adm_Resume_Status.Status)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SelectedStaffData.StaffPositions[0].Contract_Position.Contract_WBS_ID)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SelectedStaffData.StaffPositions[0].Ref_Telework_Agreement.Telework_Agreement)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SelectedStaffData.StaffPositions[0].Staff.Staff_Name)
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.SelectedStaffData.StaffPositions)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IsActive)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Planned_Start_Date)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Active_Start_Date)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Active_End_Date)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Is_Resume_Compliant)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Is_LCAT_Compliant)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Compliance_Notes)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Email_Address)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Desk_Phone)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Cell_Phone)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Created_On)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Created_By)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Modified_On)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Modified_By)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Adm_Resume_Status.Status)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Contract_Position.Contract_WBS_ID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Ref_Telework_Agreement.Telework_Agreement)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Staff.Staff_Name)
                                    </td>

                                    <td>
                                        <a href='@Url.Action("Edit", "Edit", new { @*id = item.ID*@ })'>
                                            <span class="glyphicon glyphicon-edit" aria-hidden="true" aria-label="Edit Education"></span>
                                        </a>

                                        <a href='@Url.Action("Delete", "Delete", new { @*id = item.ID*@ })'>
                                            <span class="glyphicon glyphicon-remove" aria-hidden="true" aria-label="Delete Education"></span>
                                        </a>
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}
<!-- /page content -->
