@model Portfolio_Management.Models.StaffDashboardViewModel

@{
    ViewBag.Title = "Staff";
    Layout = "~/Views/Shared/_StaffLayout.cshtml";
}


<div class="right_col" role="main">
    <div class="">
        <!-- Staff member view -->
        <div id="staffView">
        </div>

        <!-- start accordion -->
        <div class="accordion" id="accordion1" role="tablist" aria-multiselectable="true">
            <div class="panel">
                <a class="panel-heading" role="tab" id="headingOne1" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne1" aria-expanded="true" aria-controls="collapseOne" style="width:100%;">
                    <h4 class="panel-title">Education</h4>
                </a>
                <div id="collapseOne1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <div id="staffEducation">
                            Select a Staff Member
                            @Html.Partial("_StaffEducationAction")
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel">
                <a class="panel-heading collapsed" role="tab" id="headingTwo1" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo1" aria-expanded="false" aria-controls="collapseTwo">
                    <h4 class="panel-title">Skills</h4>
                </a>
                <div id="collapseTwo1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        <div id="staffSkill">
                            Select a Staff Member
                            @Html.Partial("_StaffSkillAction")
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel">
                <a class="panel-heading collapsed" role="tab" id="headingThree1" data-toggle="collapse" data-parent="#accordion1" href="#collapseThree1" aria-expanded="false" aria-controls="collapseThree">
                    <h4 class="panel-title">Positions</h4>
                </a>
                <div id="collapseThree1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        <div id="staffPosition">
                            Select a Staff Member
                            @Html.Partial("_StaffPositionAction")
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of accordion -->

    </div>
    <script>
        $(document).ready(function () {
            var users = $('#datatable-responsive').DataTable({
                "dom": "t",
                stateSave: true,
                colReorder: true,
                responsive: {
                    details: {
                        display: $.fn.dataTable.Responsive.display.modal({
                            header: function (row) {
                                var data = row.data();
                                return 'Details for ' + data[0];
                            }
                        }),
                        renderer: $.fn.dataTable.Responsive.renderer.tableAll({
                            tableClass: 'table'
                        })
                    }
                }
            });

            $('#searchStaff').keyup(function () {
                users.search($(this).val()).draw();
            })
        });
    </script>

    <script>
        $('.clickableRow').click(function () {
            var targetRow = $(this).data('id');

            $.ajax({
                url: '@Url.Action("StaffEducationAction","Staff")',
                data: { id: targetRow },
                method: "GET",
                success: function (data) {

                    $("#staffEducation").empty();
                    $("#staffEducation").html(data);
                },
                error: function (xhr, status, error) {
                    alert(xhr.responseText);
                }
            });
            $.ajax({
                url: '@Url.Action("StaffSkillAction","Staff")',
                data: { id: targetRow },
                method: "GET",
                success: function (data) {

                    $("#staffSkill").empty();
                    $("#staffSkill").html(data);
                },
                error: function (xhr, status, error) {
                    alert(xhr.responseText);
                }
            });
            $.ajax({
                url: '@Url.Action("StaffPositionAction","Staff")',
                data: { id: targetRow },
                method: "GET",
                success: function (data) {
                    $("#staffPosition").empty();
                    $("#staffPosition").html(data);
                },
                error: function (xhr, status, error) {
                    alert(xhr.responseText);
                }
            });
            $.ajax({
                url: '@Url.Action("StaffViewAction","Staff")',
                data: { id: targetRow },
                method: "GET",
                success: function (data) {
                    $("#staffView").empty();
                    $("#staffView").html(data);
                },
                error: function (xhr, status, error) {
                    alert(xhr.responseText);
                }
            });
        })

    </script>

</div>


@*<script>
        $(document).ready(function() {
            $('#datatable-responsive').DataTable( {
                stateSave: true,
                colReorder: true,
                responsive: {
                    details: {
                        display: $.fn.dataTable.Responsive.display.modal({
                            header: function (row) {
                                var data = row.data();
                                return 'Details for ' + data[0];
                            }
                        }),
                        renderer: $.fn.dataTable.Responsive.renderer.tableAll({
                            tableClass: 'table'
                        })
                    }
                }
            } );
        } );
    </script>*@