@model Portfolio_Management.Models.StaffDashboardViewModel

@{
    ViewBag.Title = "Staff";
    Layout = "~/Views/Shared/_StaffLayout.cshtml";
}

<div class="right_col" role="main">
    <div class="">
        <div class="row">
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                    <div class="icon">
                        <i class="fa fa-caret-square-o-right"></i>
                    </div>
                    <div class="count">179</div>

                    <h3>Staff members</h3>
                    <p>Lorem ipsum psdea itgum rixt.</p>
                </div>
            </div>
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                    <div class="icon">
                        <i class="fa fa-comments-o"></i>
                    </div>
                    <div class="count">179</div>

                    <h3>New Sign ups</h3>
                    <p>Lorem ipsum psdea itgum rixt.</p>
                </div>
            </div>
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                    <div class="icon">
                        <i class="fa fa-sort-amount-desc"></i>
                    </div>
                    <div class="count">179</div>

                    <h3>New Sign ups</h3>
                    <p>Lorem ipsum psdea itgum rixt.</p>
                </div>
            </div>
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                    <div class="icon">
                        <i class="fa fa-check-square-o"></i>
                    </div>
                    <div class="count">179</div>

                    <h3>New Sign ups</h3>
                    <p>Lorem ipsum psdea itgum rixt.</p>
                </div>
            </div>
        </div>


        <div id="instructions" style="text-align:center;">
            Select a staff member.
        </div>

        <!-- start accordion -->
        <div class="accordion" id="accordion1" role="tablist" aria-multiselectable="true">
             <div class="panel">
                <a class="panel-heading" role="tab" id="headingZero1" data-toggle="collapse" data-parent="#accordion1" href="#collapseZero1" aria-expanded="false" aria-controls="collapseZero" style="width:100%;">
                    <h4 class="panel-title">Staff Details</h4>
                </a>
                <div id="collapseZero1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingZero">
                    <div class="panel-body">
                        <!-- Staff member view -->
                        <div id="staffView">
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel">
                <a class="panel-heading" role="tab" id="headingOne1" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne1" aria-expanded="false" aria-controls="collapseOne" style="width:100%;">
                    <h4 class="panel-title">Education</h4>
                </a>
                <div id="collapseOne1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <div id="staffEducation">
                            @Html.Partial("_StaffEducationAction")
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel">
                <a class="panel-heading collapsed" role="tab" id="headingTwo1" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo1" aria-expanded="false" aria-controls="collapseTwo">
                    <h4 class="panel-title">Certifications</h4>
                </a>
                <div id="collapseTwo1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        <div id="staffCertification">
                            @Html.Partial("_StaffCertificationAction")
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel">
                <a class="panel-heading collapsed" role="tab" id="headingThree1" data-toggle="collapse" data-parent="#accordion1" href="#collapseThree1" aria-expanded="false" aria-controls="collapseThree">
                    <h4 class="panel-title">Skills</h4>
                </a>
                <div id="collapseThree1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        <div id="staffSkill">
                            @Html.Partial("_StaffSkillAction")
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel">
                <a class="panel-heading collapsed" role="tab" id="headingFour1" data-toggle="collapse" data-parent="#accordion1" href="#collapseFour1" aria-expanded="false" aria-controls="collapseFour">
                    <h4 class="panel-title">Positions</h4>
                </a>
                <div id="collapseFour1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                    <div class="panel-body">
                        <div id="staffPosition">
                            @Html.Partial("_StaffPositionAction")
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel">
                <a class="panel-heading collapsed" role="tab" id="headingFive1" data-toggle="collapse" data-parent="#accordion1" href="#collapseFive1" aria-expanded="false" aria-controls="collapseFive">
                    <h4 class="panel-title">Training</h4>
                </a>
                <div id="collapseFive1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                    <div class="panel-body">
                        <div id="staffTraining">
                            @Html.Partial("_StaffTrainingAction")
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel">
                <a class="panel-heading collapsed" role="tab" id="headingSix1" data-toggle="collapse" data-parent="#accordion1" href="#collapseSix1" aria-expanded="false" aria-controls="collapseSix">
                    <h4 class="panel-title">Assets</h4>
                </a>
                <div id="collapseSix1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                    <div class="panel-body">
                        <div id="staffAsset">
                            @Html.Partial("_StaffAssetAction")
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel">
                <a class="panel-heading collapsed" role="tab" id="headingSeven1" data-toggle="collapse" data-parent="#accordion1" href="#collapseSeven1" aria-expanded="false" aria-controls="collapseSeven">
                    <h4 class="panel-title">Clearances</h4>
                </a>
                <div id="collapseSeven1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                    <div class="panel-body">
                        <div id="staffClearance">
                            @Html.Partial("_StaffClearanceAction")
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel">
                <a class="panel-heading collapsed" role="tab" id="headingEight1" data-toggle="collapse" data-parent="#accordion1" href="#collapseEight1" aria-expanded="false" aria-controls="collapseEight">
                    <h4 class="panel-title">Contracts</h4>
                </a>
                <div id="collapseEight1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
                    <div class="panel-body">
                        <div id="staffContract">
                            @Html.Partial("_StaffContractAction")
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of accordion -->

    </div>
    <script>
        $(document).ready(function () {
            var users = $('#datatable-responsive').DataTable({
                "dom": "t",
                stateSave: true,
                colReorder: true,
                responsive: {
                    details: {
                        display: $.fn.dataTable.Responsive.display.modal({
                            header: function (row) {
                                var data = row.data();
                                return 'Details for ' + data[0];
                            }
                        }),
                        renderer: $.fn.dataTable.Responsive.renderer.tableAll({
                            tableClass: 'table'
                        })
                    }
                }
            });

            $('#searchStaff').keyup(function () {
                users.search($(this).val()).draw();
            })
        });
    </script>

    <script>
        function clearInstructions() {
            $("#instructions").html("&nbsp;");
        }

        $('.clickableRow').click(function () {
            var targetRow = $(this).data('id');
            clearInstructions();

            $.ajax({
                url: '@Url.Action("StaffEducationAction","Staff")',
                data: { id: targetRow },
                method: "GET",
                success: function (data) {
                    $("#staffEducation").empty();
                    $("#staffEducation").html(data);
                },
                error: function (xhr, status, error) {
                    alert(xhr.responseText);
                }
            });
            $.ajax({
                url: '@Url.Action("StaffCertificationAction","Staff")',
                data: { id: targetRow },
                method: "GET",
                success: function (data) {
                    $("#staffCertification").empty();
                    $("#staffCertification").html(data);
                },
                error: function (xhr, status, error) {
                    alert(xhr.responseText);
                }
            });
            $.ajax({
                url: '@Url.Action("StaffSkillAction","Staff")',
                data: { id: targetRow },
                method: "GET",
                success: function (data) {
                    $("#staffSkill").empty();
                    $("#staffSkill").html(data);
                },
                error: function (xhr, status, error) {
                    alert(xhr.responseText);
                }
            });
            $.ajax({
                url: '@Url.Action("StaffPositionAction","Staff")',
                data: { id: targetRow },
                method: "GET",
                success: function (data) {
                    $("#staffPosition").empty();
                    $("#staffPosition").html(data);
                },
                error: function (xhr, status, error) {
                    alert(xhr.responseText);
                }
            });
            $.ajax({
                url: '@Url.Action("StaffAssetAction","Staff")',
                data: { id: targetRow },
                method: "GET",
                success: function (data) {
                    $("#staffAsset").empty();
                    $("#staffAsset").html(data);
                },
                error: function (xhr, status, error) {
                    alert(xhr.responseText);
                }
            });
            $.ajax({
                url: '@Url.Action("StaffTrainingAction","Staff")',
                data: { id: targetRow },
                method: "GET",
                success: function (data) {
                    $("#staffTraining").empty();
                    $("#staffTraining").html(data);
                },
                error: function (xhr, status, error) {
                    alert(xhr.responseText);
                }
            });
            $.ajax({
                url: '@Url.Action("StaffClearanceAction","Staff")',
                data: { id: targetRow },
                method: "GET",
                success: function (data) {
                    $("#staffClearance").empty();
                    $("#staffClearance").html(data);
                },
                error: function (xhr, status, error) {
                    alert(xhr.responseText);
                }
            });
            $.ajax({
                url: '@Url.Action("StaffContractAction","Staff")',
                data: { id: targetRow },
                method: "GET",
                success: function (data) {
                    $("#staffContract").empty();
                    $("#staffContract").html(data);
                },
                error: function (xhr, status, error) {
                    alert(xhr.responseText);
                }
            });
            $.ajax({
                url: '@Url.Action("StaffViewAction","Staff")',
                data: { id: targetRow },
                method: "GET",
                success: function (data) {
                    $("#staffView").empty();
                    $("#staffView").html(data);
                },
                error: function (xhr, status, error) {
                    alert(xhr.responseText);
                }
            });
        })

    </script>

</div>


@*<script>
        $(document).ready(function() {
            $('#datatable-responsive').DataTable( {
                stateSave: true,
                colReorder: true,
                responsive: {
                    details: {
                        display: $.fn.dataTable.Responsive.display.modal({
                            header: function (row) {
                                var data = row.data();
                                return 'Details for ' + data[0];
                            }
                        }),
                        renderer: $.fn.dataTable.Responsive.renderer.tableAll({
                            tableClass: 'table'
                        })
                    }
                }
            } );
        } );
    </script>*@