@model Portfolio_Management.Models.StaffDashboardViewModel

@{
    ViewBag.Title = "Staff";
}


<div class="right_col" role="main">
    <div class="">


        @*<div class="clearfix"></div>

            @{ if (User.IsInRole("Manager"))
                {
                    Html.RenderAction("ManagerMetrics", new { staffActionsVM = "Fun" });
                }
            }*@
        @*<div class="row">
                <a href='@Url.Action("ContactList", "Staff")'>
                    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="tile-stats">

                            <div class="count">Contact List</div>

                            <p>Click to open</p>
                        </div>
                    </div>
                </a>
                <a href='@Url.Action("Index", "Educations")'>
                    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="tile-stats">

                            <div class="count">Education</div>

                            <p>Click to open</p>
                        </div>
                    </div>
                </a>
                <a href='@Url.Action("Index", "Staff_Skill")'>
                    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="tile-stats">

                            <div class="count">Staff Skill</div>

                            <p>Click to open</p>
                        </div>
                    </div>
                </a>
            </div>*@
        <div class="row">
            <!--Table Data -->
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Staff</h2>

                        <!--Navigation toolbar (top right)-->
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a title="New Staff" href="/Staff/Create" role="button" aria-expanded="false"><i class="fa fa-plus-square"></i></a>
                            </li>
                            <li>
                                <a title="Collapse" class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            @*@<li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li>
                                            <a href="#">Settings 1</a>
                                        </li>
                                        <li>
                                            <a href="#">Settings 2</a>
                                        </li>
                                    </ul>
                                </li>*@
                            <li>
                                <a title="Close" class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>

                    <!-- Search bar-->
                    <div class="title_right">
                        <div class="col-md-3 col-sm-3 col-xs-6 form-group pull-right top_search">
                            @*@using (Html.BeginForm("Index", "Staff"))
                                {*@
                            <div class="input-group">
                                @Html.TextBox("SearchString", null, new { @class = "form-control", @placeholder = "Search Staff", @id = "searchStaff" })
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit">Go</button>
                                </span>
                            </div>
                            @*}*@
                        </div>
                    </div>
                    <!-- /Search bar-->

                    <div class="x_content">
                        <div style="overflow-x:auto">
                            <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap table-hover" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => Model.AllStaffData.Staff[0].Staff_Name)

                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.AllStaffData.Staff[0].Last_Name)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.AllStaffData.Staff[0].First_Name)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.AllStaffData.Staff[0].Ref_Company.Company)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.AllStaffData.Staff[0].Location)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.AllStaffData.Staff[0].Cell_Phone)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.AllStaffData.Staff[0].Company_Email)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.AllStaffData.Staff[0].Hire_Date)
                                        </th>

                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.AllStaffData.Staff)
                                    {
                                        <tr data-id="@item.ID" class="clickableRow">
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Staff_Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Last_Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.First_Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Ref_Company.Company)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Location)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Cell_Phone)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Company_Email)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Hire_Date)
                                            </td>
                                            <td>
                                                <a href="@Url.Action("Edit", "Staff", new { id = item.ID })"><span title="Edit" class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a> |
                                                <a href="@Url.Action("Details", "Staff", new { id = item.ID })"><span title="Details" class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></a> |
                                                <a href="@Url.Action("Delete", "Staff", new { id = item.ID })"><span title="Delete" class="glyphicon glyphicon-trash" aria-hidden="true"></span></a> |
                                                @*@Html.ActionLink("Edit", "Edit", new { id = item.ID }) |*@
                                                @*@Html.ActionLink("Details", "Details", new { id = item.ID }) |
                                                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })*@
                                                @*<a data-id="(modelItem => item.ID)" id="action" href='@Url.Action("StaffEducationAction", "Staff", new { id = item.ID })'>
                                                        <span title="Actions" class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                                                    </a>*@
                                                @*<button id="action" type="button" class="btn btn-default" aria-label="Left Align">
                                                        <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                                                    </button>*@
                                                @*<button id="action "class="btn"><i class="glyphicon glyphicon-menu-hamburger"></i> Actions</button>*@
                                            </td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Table Data -->
        </div>

        <!-- start accordion -->
        <div class="accordion" id="accordion1" role="tablist" aria-multiselectable="true">
            <div class="panel">
                <a class="panel-heading" role="tab" id="headingOne1" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne1" aria-expanded="true" aria-controls="collapseOne">
                    <h4 class="panel-title">Education</h4>
                </a>
                <div id="collapseOne1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <div id="staffEducation">
                            Select a Staff Member
                            @Html.Partial("_StaffEducationAction")
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel">
                <a class="panel-heading collapsed" role="tab" id="headingTwo1" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo1" aria-expanded="false" aria-controls="collapseTwo">
                    <h4 class="panel-title">Skills</h4>
                </a>
                <div id="collapseTwo1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        <div id="staffSkill">
                            Select a Staff Member
                            @Html.Partial("_StaffSkillAction")
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel">
                <a class="panel-heading collapsed" role="tab" id="headingThree1" data-toggle="collapse" data-parent="#accordion1" href="#collapseThree1" aria-expanded="false" aria-controls="collapseThree">
                    <h4 class="panel-title">Positions</h4>
                </a>
                <div id="collapseThree1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        <div id="staffPosition">
                            Select a Staff Member
                            @Html.Partial("_StaffPositionAction")
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of accordion -->

    </div>
    <script>
        $(document).ready(function () {
            var users = $('#datatable-responsive').DataTable({
                "dom": "t",
                stateSave: true,
                colReorder: true,
                responsive: {
                    details: {
                        display: $.fn.dataTable.Responsive.display.modal({
                            header: function (row) {
                                var data = row.data();
                                return 'Details for ' + data[0];
                            }
                        }),
                        renderer: $.fn.dataTable.Responsive.renderer.tableAll({
                            tableClass: 'table'
                        })
                    }
                }
            });

            $('#searchStaff').keyup(function () {
                users.search($(this).val()).draw();
            })
        });
    </script>

    <script>
        $('.clickableRow').click(function () {
            var targetRow = $(this).data('id');

            $.ajax({
                url: '@Url.Action("StaffEducationAction","Staff")',
                data: { id: targetRow },
                method: "GET",
                success: function (data) {

                    $("#staffEducation").empty();
                    $("#staffEducation").html(data);
                },
                error: function (xhr, status, error) {
                    alert(xhr.responseText);
                }
            });
            $.ajax({
                url: '@Url.Action("StaffSkillAction","Staff")',
                data: { id: targetRow },
                method: "GET",
                success: function (data) {

                    $("#staffSkill").empty();
                    $("#staffSkill").html(data);
                },
                error: function (xhr, status, error) {
                    alert(xhr.responseText);
                }
            });
            $.ajax({
                url: '@Url.Action("StaffPositionAction","Staff")',
                data: { id: targetRow },
                method: "GET",
                success: function (data) {
                    $("#staffPosition").empty();
                    $("#staffPosition").html(data);
                },
                error: function (xhr, status, error) {
                    alert(xhr.responseText);
                }
            });
        })

    </script>

</div>


@*<script>
        $(document).ready(function() {
            $('#datatable-responsive').DataTable( {
                stateSave: true,
                colReorder: true,
                responsive: {
                    details: {
                        display: $.fn.dataTable.Responsive.display.modal({
                            header: function (row) {
                                var data = row.data();
                                return 'Details for ' + data[0];
                            }
                        }),
                        renderer: $.fn.dataTable.Responsive.renderer.tableAll({
                            tableClass: 'table'
                        })
                    }
                }
            } );
        } );
    </script>*@