@using Portfolio_Management.Models
@model LoginViewModel
@{
    Layout = "";
    ViewBag.Title = "Log in";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login - T-Rex PM DB</title>
    <!-- Bootstrap -->
    <link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="../vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- Animate.css -->
    <link href="../vendors/animate.css/animate.min.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="../build/css/custom.min.css" rel="stylesheet">
</head>

<body class="login">
    <div>    
        <div class="login_wrapper"> 
            <div class="animate form login_form">
                <section class="login_content">
  
                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { }))
                        {    
                            <h3>Login</h3>
                           
                            <br />
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div>
                                @*@Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })*@
                                <div>
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = Html.DisplayNameFor(m => m.Email) })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div>
                                @*@Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })*@
                                <div>
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = Html.DisplayNameFor(m => m.Password) })
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div>
                                <div style="margin-left: 2.5cm">
                                    <input type="submit" value="Log in" class="btn btn-default submit" />
                                </div>

                                <br />
                                <br />
                                <div class="checkbox" style="margin-left: 5cm">
                                    @Html.CheckBoxFor(m => m.RememberMe)
                                    @Html.LabelFor(m => m.RememberMe)
                                </div>
                            </div>
                            
                            <div class="clearfix"></div>
                            @*<div>
                                <div class="checkbox">
                                    @Html.CheckBoxFor(m => m.RememberMe)
                                    @Html.LabelFor(m => m.RememberMe)
                                </div>
                            </div>*@

                            @* Enable this once you have account confirmation enabled for password reset functionality
                <p>
                    @Html.ActionLink("Forgot your password?", "ForgotPassword")
                </p>*@
                        
                        @*<div class="clearfix"></div>*@

                        <div class="separator">
                            <p>
                                @Html.ActionLink("Register as a new user", "Register")
                            </p>
                            <p>@Html.ActionLink("Help", "Help")</p>
                            <div class="clearfix"></div>
                            <br />
                            <div>
                                <h1><i class="fa fa-paw"></i> T-Rex PM DB</h1>
                            </div>
                        </div>
                        }
                </section>
            </div>

@*
    <div class="col-md-4">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
*@

        </div>
                
        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
        </div>
</body>
</html>


@*<div class="animate form login_form">
    <section class="login_content">
        <form>
            <h1>Login</h1>
            <div>
                <input type="text" class="form-control" placeholder="Username" required="" />
            </div>
            <div>
                <input type="password" class="form-control" placeholder="Password" required="" />
            </div>
            <div>
                <a class="btn btn-default submit" href="index.html">Log in</a>
                <br />
                <a class="reset_pass" href="#">Lost your password?</a>
            </div>
            <div class="clearfix"></div>
            <div class="separator">
                <p class="change_link">
                    New to site?
                    <a href="#signup" class="to_register"> Create Account </a>
                </p>
                <div class="clearfix"></div>
                <br />
                <div>
                    <h1><i class="fa fa-paw"></i> T-Rex PM DB</h1>
                </div>
            </div>
        </form>
    </section>
</div>*@