@model Portfolio_Management.Models.RegisterViewModel
@{
    Layout = "";
    ViewBag.Title = "Register";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Register - T-Rex PM DB</title>
    <!-- Bootstrap -->
    <link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="../vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- Animate.css -->
    <link href="../vendors/animate.css/animate.min.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="../build/css/custom.min.css" rel="stylesheet">
</head>

<body class="login">
    <div>
        <div class="login_wrapper">
            <div class="animate form login_form">
                <section class="login_content">


                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { }))
                    {

                        @Html.AntiForgeryToken()
                        <h3>Register</h3>
                        <hr />

                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <h5>These fields must match our records in order to gain account access</h5>
                        <div>
                            @*@Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })*@
                            <div>
                                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @placeholder = Html.DisplayNameFor(m => m.FirstName) })
                            </div>
                        </div>

                        <div class="form-group">
                            @*@Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })*@
                            <div>
                                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @placeholder = Html.DisplayNameFor(m => m.LastName) })
                            </div>
                        </div>

                        <div>
                            @*@Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })*@
                            <div>
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = Html.DisplayNameFor(m => m.Email) })
                            </div>
                        </div>
                        <br />
                        <div>
                            @*@Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })*@
                            <div>
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Create "+Html.DisplayNameFor(m => m.Password) })
                            </div>
                        </div>

                        <div>
                            @*@Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })*@
                            <div>
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = Html.DisplayNameFor(m => m.ConfirmPassword) })
                            </div>
                        </div>

                        <div>
                            <p>You'll be assigned the role: User</p>
                            @Html.HiddenFor(m => m.UserRole)
                            @Html.Hidden("UserRole", "User")
                        </div>
                        <br />
                        
                        <div style="margin-left: 25%">
                            <input type="submit" class="btn btn-default" value="Register"/>
                        </div>

                        <div class="clearfix"></div>

                        <div class="separator">
                            <p>
                                Already Registered? @Html.ActionLink("Login", "Login")
                            </p>
                            <div class="clearfix"></div>
                            <br />
                            <div>
                                <h1><i class="fa fa-paw"></i> T-Rex PM DB</h1>
                            </div>
                        </div>
                        }

                </section>
            </div>
        </div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
    </div>
</body>


</html>