@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)

{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li class="">

            <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <img src="@Url.Action("Photo", "Account" , new { UserId=User.Identity.GetUserId() })" alt="">@ViewData["FullName"]  <i class="fa fa-caret-down"></i>
                <span class="" fa fa-angle-down"></span>
            </a>

                <ul class="dropdown-menu dropdown-usermenu pull-right">
                    <li style="border-bottom: 1px solid #f0f0f0">
                        <a href="javascript:;">Your profile</a>
                    </li>
                    <li>@Html.ActionLink("Manage", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
                    <li><a href="javascript:;">Help</a></li>
                    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                </ul>
        </li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">

        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink"  })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        @*<li>
            <button type="button" class="btn btn-default" aria-label="Log in">
                <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
            </button>
        </li>*@
    </ul>
}
